@use "./global/variables.scss";
@use "./global/mixins.scss";

.advantages {
  padding: 50px 0 60px;
  text-align: center;
  background-color: variables.$background-primary;
}

.advantages__title {
  margin: 0;
  margin-bottom: 4px;
}

.advantages__capture {
  margin: 0;
  margin-bottom: 36px;
}

.advantages__list {
  @include mixins.list-reset;
  display: grid;
  gap: 32px;
}
