@use "./global/variables.scss";

.copyright {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 20px 37px 30px;
  text-decoration: none;
  color: variables.$text-disabled;
  transition: color 0.3s linear;

  @media (min-width: variables.$tablet-width) {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  &:hover,
  &:focus {
    color: variables.$text-accent;
  }

  &:active {
    color: variables.$color-primary-darker;
  }
}

.copyright__text {
  font-size: 12px;
  line-height: 16px;
}

.copyright__icon {
  width: 12px;
  height: 16px;
}
